.error {
  color: red;
}

.error .input {
  border-color: red;
}

.success .input {
  border-color: green;
}

.container {
  height: 100vh;
}

.form-signin {
  width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

li,
ul {
  list-style: none;
}

li {
  background-color: aqua;
}

.inputEmail,
.inputName,
.inputPhone {
  margin: 0;
  padding: 0;
  margin-top: 10px;
  margin-bottom: 10px;
}
